<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="editpage">
    <h1>Update <%= book.title %></h1>

    <form
      method="POST"
      action="/books/<%= book._id %>?_method=PUT"
      enctype="multipart/form-data"
    >
      <label for="title">Book Title:</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= book.title %>"
        required
      />
      <br />

      <label for="author">Author:</label>
      <input
        type="text"
        name="author"
        id="author"
        value="<%= book.author %>"
        required
      />
      <br />

      <label for="genre">Genres:</label>
      <input
        type="text"
        name="genre"
        id="genre"
        value="<%= book.genre %>"
        required
      />
      <br />

      <label for="isAvailable">Available:</label>
      <input type="checkbox" name="isAvailable" id="isAvailable" <%=
      book.isAvailable ? 'checked' : '' %> />
      <br />

      <label for="photo">Book Photo:</label>
      <input type="file" name="photo" /><br /><br />
      <% if (book.photo) { %>
      <img src="/<%= book.photo %>" alt="Book Photo" width="100" /><br /><br />
      <% } %>
      <br />

      <label for="pdfFile">Book PDF:</label>
      <input type="file" name="pdfFile" /><br /><br />
      <% if (book.pdfFile) { %>
      <a href="/<%= book.pdfFile %>" download>Download Current PDF</a
      ><br /><br />
      <% } %>
      <br />

      <button type="submit">Update Book</button>
    </form>
  </div>
</body>
